.img{
    border-radius: 25px;
    background: #000000;
    padding: 20px;
    width: 200px;
    height: 200px;
  }

.Info{
    font: Times;
    background: #00ff00;
    text-align: center;
}

.favorites{
    border-radius: 25px;
    background: #ff5e00;
    text-align: center;
}